<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Play</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename='styles/how_to_play.css')}}">
</head>
<body>
    <h2><center>How To Play Quantum Chase</center></h2>
    <p>Welcome to <b>Quantum Chase: Hunt For Victory In The Quantum Realm!</b> This web-based quiz game
    is designed  to test the player's knowledge of the 17 Sustainable Development Goals and take the players
    on a journey through the quantum realm.</p>
    <p>Here's how to play:</p>
    <p><b>1. Choose your Topic:</b> The program will showcase all 17 SDGs as topics for the players to enjoy.</p>
    <p><b>2. Customize your loadout:</b> After picking the topic, the players can now choose their passives and skills
    that will aid them in the game.</p>
    <p><b>3. Answer Questions:</b> Once you have finished preparing for the game, you will be presented
    with the sets of questions that you must answer. It is a multiple choice type of quiz where the players
    can choose the answer among the options. After answering the first set of questions, the difficulty will
    increase. Once the hardest difficulty has been successfully completed, the scores will be tallied.</p>
    <p><b>4. Collect Trophies:</b> As you progress throough the game, you can earn trophies by completing the quizzes and
    and through various tasks. The collected trophies will be presented in the trophy area for display.</p>
    <p><b>5. Explore the Quantum Realm:</b> The game takes you on a journey about the past and possibile future
    of our real world. Explore the quantum realm and learn about the events and phenomena connected to the
    17 Sustainable Development Goals that exist or have existed.</p>
    <p><b>6. Challenge Yourself:</b> The game is designed to be challenging and educational. Challenge yourself to learn more
    about the Sustainable Development Goals and push yourself to the limits of your knowledge.</p>
    <p><b>7. Share with Friends:</b> Invite your friends to play Quantum Chase: Hunt For Victory In The Quantum Realm and
    compete against each other to see who can reach the highest level and earn more rewards.</p><br><br>
    <p>Thank you for playing Quantum Chase: Hunt For Victory In The Quantum Realm. We hope you enjoy the game
    and learn something new about the 17 Sustainable Development Goals</p>

    <button type = "button"><a href = "/menu">Back</a></button>
</body>
</html>